
a{
    &:link{color:$secondary_color;}
    &:hover{color:$secondary_color}
    &:active{color:purple;}
}

ul{
    list-style: none;

}

.apropos_foto{
    border-radius: 50%;
}


figure{
    margin: 0;
}
nav{
    display:flex;
    justify-content: center;
    margin:0;
    ul{
        
        display: flex;
        justify-content: space-around;
        gap: 1em;
        li{
            padding: 10px;
            background-color: $primary_color;
            padding: 7px 10px;
            font-family: "Roboto";
            &:hover{
                background-color: $white;
                color:$primary_color;
            }
            
            a{
                color:$white;
                text-decoration: none;
                
            }
            
        }
    }
}
h1,h2{
    
    font-family: "Playfair Bolditalic";
  

}
h1{
    font-size: 5vh;
    color:$primary_color;
    text-align: center;
}

/**section A propos**/
.container{
    display: flex;
    justify-content: space-around;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.description{
    line-height: 2em;
    li {
        &:nth-child(1){
            font-size: 1.5em;
        }
        &:nth-child(2){
            position: relative;
            &::before{
                font-family: 'Material Icons';
                content: "\e0be";
                font-size: 1.2em;
                position: absolute;
                top: 0px;
                left: -20px;
            }
        }
        &:nth-child(3){
            position: relative;
            &::before{
                font-family: 'Material Icons';
                content: "\e0dd";
                font-size: 1.2em;
                position: absolute;
                top: 0px;
                left: -20px;
            }
        }
    }
}
.formations{
    background-color: #373737;
    color:white;
}
footer{
    height: 150px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .footer_social{
        font-size: 48px;
        color: rgba($color:#3b5998,$alpha:0.5);
        cursor:pointer;
        transition-duration:1s;
        &:hover{
            color:#3b5998;
           
        }
    }
}

.competences{
    background-color: #373737;
    color:white;
}
